@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Prompt:wght@400;700&display=swap');

:root{
    --highlight: #fac846;    
    --accent: #ff7d2d;
    --mid: #a0c382;
    --base: #5f9b8c;
    --lowlight: #233c4b;
    --neutral: #f5f3ea;
    --burgundy: #70161eff;
}






/* -----------------------------global------------------------------ */


html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{ 
    background: var(--neutral);
    color: var(--burgundy);   
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}

#page{
    background-size: 16px;
}

h1, h2{
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 4rem;
    color: var(--highlight);
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    color:var(--lowlight);
    
}
h4{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}
p, li{
    font-size: .8rem;
    font-style: normal;
    margin: .3rem 0 .3rem 1rem;
}


a{
    text-decoration: none;
    color: var(--mid);
}

a.btn{
    display:inline-block;
}



/* ------------------header footer-------------------------- */


header, footer{
    background: var(--lowlight);
    color: var(--accent);
}
a img{
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(70%);
}

.contact a{
    border-left: .5px solid var(--highlight);
    border-right: .5px solid var(--highlight);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.contact a:first-of-type{
    border-right: .5px solid var(--highlight);
    border-left: none;
    padding-right: 1rem;
}
.contact a:last-of-type{
    border-left: .5px solid var(--highlight);
    border-right: none;
    padding-right: 1rem;
}

a:hover img{
    filter: invert(100%);
}

/* header */
.hero{
    padding: 50px;
}

.title{
    padding-left: 2.6rem;
}

.profile-pic{
    border-radius: 50%;
    width: 18rem;
    margin: 3.75rem 2rem;
    float: left;
    background: var(--accent);
    padding: .75rem;
    border: .6rem solid var(--highlight);
}

header .contact {
    float: right;
}




/* footer */

footer{
    font-size: .7rem;
    text-align: center;
    padding: 1rem;
}

.contact{
    margin: 1rem;
}
footer p{
    margin: 0 0 1rem;
}





/* -------------------- main -------------------------*/

/* education */
.education{      
    display: inline-block;
}
.education::after{
    content: '';
    display: block;
    clear: all
}

.education, .work{
    padding: 1.5rem 
}
.edu-card{
    color: var(--highlight);
    background: var(--lowlight);
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    border: .25rem solid var(--accent)
}

/* work */

.work{
    background: var(--base);
}

.work::after{
    content: '';
    display: block;
    clear: both;
}

.job-card{
    color: var(--lowlight);
    margin: 1rem;
    background: var(--neutral);
    display: inline-block;
    padding: 3rem;
    border-radius: 1rem;
    border: .35rem solid var(--highlight);
}

.job-disc, .job-title{
    display: inline-block;
}

h4 + p{
    font-style: italic;
}
.job-title{
    width: 20rem;
    
}

.job-disc{
    text-align: left;
    padding-left: 0rem;
    padding-top: 1rem;
    display: block;
}


/* ------------------------nav------------------------- */

nav {
    font-size: 0;
    background: var(--accent);    
}


nav a{
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;  
    color: var(--highlight);
}

nav a:hover{
    font-weight: 700;
}