@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Prompt:wght@400;700&display=swap');

:root{
    --highlight: #fac846;    
    --accent: #ff7d2d;
    --lowlight: #233c4b;
    --neutral: #f5f3ea;
    --burgundy: #70161e;
}


/* -----------------------------global------------------------------ */


html{
    box-sizing: border-box;
    background: var(--neutral);
}
*, *:before, *:after{
    box-sizing: inherit;
}


body{ 
    background-image: url("../images/Background\ pattern.png");
    background-size: 25rem;
    background-position: center;
    color: var(--burgundy);   
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
#page{
    background-size: 16px;
    max-width: 1200px;
    margin: 0 auto;  
}
h1, h2{
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;    
}
h1{
    font-size: 4rem;
    color: var(--highlight);
    line-height: 1;
    margin-bottom: 2rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}
h4{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

ul{
    margin:0;
}

p, li{
    font-size: .75rem;
    font-style: normal;
    margin: 0 0 0 1rem;

}
li{
    padding: .1rem 0;
}
a{
    text-decoration: none;
    background-size:contain;
}
a.btn{
    display:inline-block;
}


/* ------------------header footer-------------------------- */


header, footer{
    background: var(--lowlight);
}

/* -----------------------------------------------header */

header{
    color: var(--accent);
    margin-top: 3.5rem;
    position: relative;
    min-height: 24rem;
    padding: 3.125rem;
}
.title{
    padding-left: 2.6rem;
}


/* ----------------------------------------------download */


.download{
    padding: 1rem;
    position: absolute;
    bottom: 0rem;
    right: 1.5rem;
    background-repeat: no-repeat;
    font-size: 1.4rem;
}
header .download{
    color: var(--burgundy)
}
header .download:hover{
    color: var(--neutral) 
}

/* footer */

footer{
    color: var(--accent);
    font-size: .7rem;
    text-align: center;
    padding: 1rem;
}
.contact{
    margin: 1rem;
    color: #fac846;
}
footer p{
    margin: 0 0 1rem;
}
footer a{    
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;    
    padding: .5rem;    
    background-size:contain;
}


footer .btn{
    font-size: 0;
    border-left: .5px solid var(--accent);
    border-right: .5px solid var(--accent);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

footer .btn:first-of-type{
    border-right: .5px solid var(--accent);
    border-left: none;
    padding-right: 1rem;
}
footer .btn:last-of-type{
    border-left: .5px solid var(--accent);
    border-right: none;
    padding-right: 1rem;
}

footer .btn[title= "github"]:hover{
    color: var(--neutral) 
}

footer .btn[title= "linkedin"]:hover{
    color: var(--neutral)
}

footer .btn[title= "email"]:hover{
    color: var(--neutral)
}

/* -------------------- main -------------------------*/

.profile-pic{
    border-radius: 50%;
    width: 12rem;
    margin-right: 3rem;
    float: left;
    background: var(--accent);
    padding: .5rem;
    border: .35rem solid var(--highlight);

}

/* education */
#education {
    width: 100%;    
    background: linear-gradient(rgba(245, 243, 234, .9), rgba(245, 243, 234, .3)), url(../images/IMG_4086_Original.JPG) no-repeat fixed;
    background-position: center;
        background-size: cover;
    
  }
  #edu-cont{
    width:fit-content;
  }



#education, #work{
    padding: 1.5rem 
}
.edu-card{
    color: var(--highlight);
    background: var(--lowlight);
    padding: 2rem;
    border-radius: 2rem;
    margin: .5rem;
    border: .25rem solid var(--accent);
    display: inline-block;
}

#education ul{
    list-style: circle;
    border-top: 1px solid var(--accent);
    margin-top: 1rem;
    padding-top: .75rem;
    padding-left: 0;
    
}

/* work */

#work{
    background: var(--burgundy);
    color: var(--highlight)
}


h4 ~ p{
    font-size: .675rem;
}

h4 + p{
    font-style: italic;
    margin-top: .25rem;
}
.job-card{
    color: var(--lowlight);
    margin: 1rem;
    background: var(--neutral);
    padding: 2rem;
    border-radius: 1rem;
    border: .35rem solid var(--accent);
}
.job-title{
    width: 30%;
    display: inline-block;
    padding-right: 2rem;

}

.job-disc{
    width: 67.5%;
    border-left: 1px solid var(--accent);
    display: inline-block;
}


/* ------------------------nav------------------------- */

nav {
    background: var(--neutral);
    position: fixed;    
    top: 0;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    width:100%;
    
    
}
hr{
    width: 100%;
    color:#ff7d2d;
    position: fixed;
    left: 0;
    top: 0;
    margin: 3.4rem 0 0 0;
    border: .25rem solid var(--accent);
}



a[href='marcus-messamer.github.io'] i{
    display: none;
}
a[href='marcus-messamer.github.io']::after{
    content: 'home';
}

a[href='#work'] i{
    display: none;
}
a[href='#work']::after{
    content: 'work experience';
}

a[href='#education'] i{
    display: none;
}
a[href='#education']::after{
    content: 'Education';
}



.nav-btns{
    display: flex;
    float: right;
}

nav a{    
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    background-repeat: no-repeat;    
    padding: .8rem;      
    color: var(--burgundy);
    font-weight: 700;
}


nav a:hover{
    font-weight: 700;
    background-color: var(--burgundy);
    color: var(--neutral);
}


.btn-cont{
    display: inline-block;    
    padding: 1rem;
}


.btn-cont:hover .btn[title= "github"]{
    color: var(--neutral)
}
.btn-cont:hover .btn[title= "linkedin"]{
    color: var(--neutral) 
}



footer .contact{
    font-size: 0;
}
footer i{
    font-size: 1.4rem;
    color: var(--highlight)
}
footer i:hover{
    font-size: 1.4rem;
    color: var(--neutral)
}


@media screen and (max-width: 420px) {
      
    header{
        padding: 1.5rem;
    }
    .download{
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 540px) {
    .title{
        display: block;
        padding: 0;
    }
    .title::before{
        content: '';
        display: block;
        clear: both;
        padding: 1rem 0;
    }    
    header{
        text-align: center;
    }    
    .profile-pic{
        float:none;
        margin: 0;
    }
    .job-title{
        min-width: auto;
    }
    li{
        padding: .3rem 0;
    }
}

@media screen and (max-width: 650px) {
    header{
        min-height: 28rem;
    }

    .job-disc{
        margin-top: .5rem;
        padding-top: .5rem;
        border-top: 1px solid var(--accent);
        border-left: unset;
        width: 100%;        
    }
    .job-title{       
        width: 100%;        
    }
    li{
        padding: .2rem 0;
    }    
    

    a[href='marcus-messamer.github.io'] i{
        display:block;
    }
    a[href='marcus-messamer.github.io']::after{
        content: none;
    }

    a[href='#education'] i{
        display:block;
    }
    a[href='#education']::after{
        content: none;
    }

    a[href='#work'] i{
        display:block;
    }
    a[href='#work']::after{
        content: none;
    }
}

@media screen and (min-width: 1200px) {
    nav{
        left: 0px;
    }
    #education{
        background-position: center;
        background-size: contain;
    }
}
